html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}
.container {
  width: 100%;
}
.container .row {
  margin: 0 auto;
}
.container .row .content,
.container-fluid .row .content {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

hr.divider {
  max-width: 8.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 99;
}
#header ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 60px;
}
#header ul li {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
#header ul li a {
  text-decoration: none;
}
#header ul li a:link,
#header ul li a:visited,
#header ul li a:hover,
#header ul li a:active {
  color: #f4623a;
}

.title {
  font-size: 2.5rem;
}

.bk-top {
  background-image: url("/static/image/bk/bk-top.jpg");
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
}
.bk-lightblue {
  background-color: #b0e0e6;
  background-size: cover;
  background-position: center;
}
.bk-white {
  background-image: url("/static/image/bk/bk-white.jpg");
  background-size: cover;
  background-position: center;
}

#top {
  font-family: "Sedgwick Ave", cursive;
  font-size: 4rem;
  height: 100vh;
  text-align: center;
}
#top .content {
  padding-top: 40%;
}
#top .down {
  padding-top: 15%;
  text-align: center;
}
#top .down a {
  text-decoration: none;
  color: #f4623a;
}

#profile {
}
#profile .small-title span {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777, -2px -2px 10px #777;
}
#profile img {
  height: 250px;
  width: 250px;
}
#profile .detail p {
  text-shadow: 2px 2px 10px #fff, -2px 2px 10px #fff, 2px -2px 10px #fff, -2px -2px 10px #fff;
}

#portfolio .product img {
  width: 100%;
}

#skill .detail {
  margin: 0px auto;
  width: 50%;
}
#skill .small-title span {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 10px #777, -2px 2px 10px #777, 2px -2px 10px #777, -2px -2px 10px #777;
}
#skill .star {
  color: #f4623a;
}
#skill img {
  height: 200px;
  width: 200px;
}

.p-0 {
  padding: 0;
}
#portfolio .product {
  padding: 0px;
}
#portfolio .product img {
  width: 100%;
}

#modal-area .modal .modal-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  height: 100vh;
  width: 100vw;
}
#modal-area .modal .modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  background-color: #ffffff;
}
#modal-area .modal-content img{
  /* margin-top: 30%; */
  width: 100%;
}
#modal-area .git img{
  width:1rem
}