<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haljion's Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/static/image/muchocho.png" />
    <link rel="shortcut icon" type="image/png" href="/static/image/muchocho.png" />
    <link rel="apple-touch-icon" href="/static/image/muchocho.png">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
</head>

<body>
    

    

    <div id="main" class="bk lighten">
        

        

        <div id="portfolio">
            <div class="wrapper jq-fadein">
                <div class="title">PORTFOLIO</div>
                <div class="product">
                    <div class="ribbon">
                        <div class="name">haljion's portfolio site</div>
                    </div>
                    <img src="/static/image/portfolio.png" class="shake-slow">
                </div>

                <div class="product">
                    <div class="ribbon">
                        <div class="name">MoneyBOT</div>
                    </div>
                    <img src="/static/image/moneybothalf.png" class="shake-slow">
                </div>

                <div class="product">
                    <div class="ribbon">
                        <div class="name">LifeBOT</div>
                    </div>
                    <img src="/static/image/muchohalf.png" class="shake-slow">
                </div>
            </div>
        </div>

        <div id="modal-area">
            <div class="modal">
                <div class="modal-bg"></div>
                <div class="modal-content">
                    <div class="ribbon-wrapper">
                        <div class="ribbon">
                            <div class="name">haljion's portfolio site</div>
                        </div>
                    </div>
                    <div class="content-l">
                        <img src="/static/image/portfolio.png" class="content-img">
                        <div class="git">
                            <a href="https://github.com/haljion/portfolio" target="_brank">
                                <img src="/static/image/github.svg">GitHub
                            </a>
                        </div>
                        <div class="url"></div>
                    </div>
                    <div class="content-r">
                        <div class="about">
                            <div class="small-title"><span>ABOUT</span></div>
                            <div class="detail">このWebページです。主にデザイン面で改良の余地が多く、フロント側の技術が向上し次第適宜改良を加える予定です。
                                初めて制作物をウェブ上に公開したので、その辺りの勉強にもなりました。長期的に改良するにあたって動的な動きを入れたくなる可能性を考慮して、
                                Node.jsやherokuを使用しています。
                            </div>
                        </div>
                        <div class="used">
                            <div class="small-title"><span>USED</span></div>
                            <ul>
                                <li>HTML</li>
                                <li>CSS(SASS)</li>
                                <li>JQuery</li>
                                <li>Node.js(Express)</li>
                                <li>Git(GitHub)</li>
                                <li>heroku</li>
                                <li>gulp.js</li>
                                <li>CSShake</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal">
                <div class="modal-bg"></div>
                <div class="modal-content">
                    <div class="ribbon-wrapper">
                        <div class="ribbon">
                            <div class="name">MoneyBot</div>
                        </div>
                    </div>
                    <div class="content-l">
                        <img src="/static/image/moneybot.png" class="content-img">
                    </div>
                    <div class="content-r">
                        <div class="about">
                            <div class="small-title"><span>ABOUT</span></div>
                            <div class="detail">家計簿を管理するSlackのbotです。Google Spread
                                Sheetと連携して、Slackからカテゴリーや金額等を入力するとシートに記載される仕組みになっています。</div>
                        </div>
                        <div class="used">
                            <div class="small-title"><span>USED</span></div>
                            <ul>
                                <li>GAS(Google Apps Script)</li>
                                <li>Slack</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal">
                <div class="modal-bg"></div>
                <div class="modal-content">
                    <div class="ribbon-wrapper">
                        <div class="ribbon">
                            <div class="name">LifeBot</div>
                        </div>
                    </div>
                    <div class="content-l">
                        <img src="/static/image/muchohalf.png" class="content-img">
                        <div class="git">
                            <a href="https://github.com/haljion/LifeBot" target="_brank">
                                <img src="/static/image/github.svg">GitHub
                            </a>
                        </div>
                    </div>
                    <div class="content-r">
                        <div class="about">
                            <div class="small-title"><span>ABOUT</span></div>
                            <div class="detail">天気予報や電車の運行情報を取得するSlackのbotです。
                                Beautifulsoupを使用したスクレイピングで情報を取得しています。(制作中)
                            </div>
                        </div>
                        <div class="used">
                            <div class="small-title"><span>USED</span></div>
                            <ul>
                                <li>Python</li>
                                <li>Slack</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="/static/javascript/script.js"></script>
</body>

</html>